<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 text-center mt-5 text-white">
        <img
          src="./assets/images/catroomguardian.jfif"
          alt="img"
          style="width: 270px; height: 270px"
        />
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">The page you are looking for was not found.</div>
        <a
          href="javascript:void(0)"
          class="btn btn-link"
          (click)="redirectHome()"
          style="color: white"
          >Back to Dashboard</a
        >
      </div>
    </div>
  </div>
</div>
