/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Share Tech";
    src: local("Share Tech"), url(./assets/fonts/Share_Tech/ShareTech-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
