<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light mt-3" id="searchNavbar">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggle"
        aria-controls="navbarToggle"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2 mt-lg-0" id="navbarToggle">
        <span class="navbar-brand mb-0 h1 me-auto" style="font-weight: bolder"
          >Case List</span
        >
        <form class="d-flex mt-2 mt-lg-0">
          <input
            class="form-control me-2"
            type="text"
            placeholder="Search..."
            aria-label="Search"
            [(ngModel)]="SearchFilter"
            (keyup)="applyFilter($event)"
            name="searchFilter"
          />
        </form>
      </div>
    </div>
  </nav>
  <br />
  <button
    class="btn btn-warning mb-3 me-2"
    type="button"
    style="color: #ffffff; font-weight: bolder"
    (click)="AddCase()"
  >
    <i class="bi bi-person-add"></i>
    ADD NEW CASE
  </button>
  <button
    class="btn btn-warning me-auto mb-3"
    type="button"
    style="color: #ffffff; font-weight: bolder"
    (click)="ExportCases()"
    *ngIf="CanExport"
  >
    <i class="bi bi-box-arrow-up-right"></i>
    EXPORT LIST
  </button>
  <table mat-table [dataSource]="CaseList" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Case ID</th>
      <td mat-cell *matCellDef="let case">{{ case.Id }}</td>
    </ng-container>

    <ng-container matColumnDef="CreatedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
      <td mat-cell *matCellDef="let case">{{ case.CreatedDate }}</td>
    </ng-container>

    <ng-container matColumnDef="IndividualName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Individual Name</th>
      <td mat-cell *matCellDef="let case">{{ case.IndividualName }}</td>
    </ng-container>

    <ng-container matColumnDef="InfectiousDisease">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Infectious Disease
      </th>
      <td mat-cell *matCellDef="let case">{{ case.InfectiousDisease }}</td>
    </ng-container>

    <ng-container matColumnDef="Outcome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outcome</th>
      <td mat-cell *matCellDef="let case">{{ case.Outcome }}</td>
    </ng-container>

    <ng-container matColumnDef="OutcomeDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Outcome Date</th>
      <td mat-cell *matCellDef="let case">{{ case.OutcomeDate }}</td>
    </ng-container>

    <ng-container matColumnDef="Options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let case">
        <button
          class="btn btn-md btn-info text-white me-3"
          (click)="ViewCase(case.Guid)"
        >
          <i class="bi bi-eye-fill"></i>
        </button>
        <button
          class="btn btn-md btn-warning text-white me-3"
          (click)="EditCase(case.Guid)"
        >
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="CaseColumnHeaders"></tr>
    <tr mat-row *matRowDef="let caseRowData; columns: CaseColumnHeaders"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6" [hidden]="!IsLoading">
        <ngx-skeleton-loader
          class="mt-1"
          count="2"
          appearance="line"
          animation="pulse"
          [theme]="{ height: '40px' }"
        ></ngx-skeleton-loader>
      </td>
      <td
        class="mat-cell"
        colspan="7"
        style="text-align: center"
        [hidden]="IsLoading"
      >
        No data
        {{
          SearchFilter.length === 0 ? "" : "matching filters: " + SearchFilter
        }}
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    [hidePageSize]="true"
    [length]="CaseList.data.length"
    [showFirstLastButtons]
    aria-label="Select page of Cases"
  >
  </mat-paginator>
</div>
